:host{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
figure{
    background-color: red;
    padding: 2%;
    font-size: 150%;
}
article{
    background-color: black;
    padding: 2%;
}
h1{
    font-size: 300%;
}
